body {
    background: url('Images/login background.jpg') no-repeat center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.login-container {
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 10px;
    color: white;
    max-height: 400px;
    height: 100%;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.btn-login {
    background-color: red;
    border: none;
    width: 100%;
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-login:hover {
    background-color: darkred;
}

.sign-up {
    margin-top: 10px;
}

.sign-up a {
    color: cyan;
    text-decoration: none;
}
