<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='home.css')}}">
</head>
<body>

    

    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>   
        {% endif %}
        {% endwith %}
    </div>

    <div class="container">
        <div class="form-box">
            <h1>Your Personal Guide to the World of Film</h1>
            <h1>Create Account</h1>
            <form action="/home" method="POST">
                <div class="input-box">
                    <input type="text" class="form-control" name="username" id="username" placeholder="Full Name"
                        required>
                </div>
                <div class="input-box">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                </div>
                <div class="input-box">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password"
                        required>
                </div>
                <div class="input-box">
                    <input type="password" class="form-control" name="cnf_password" id="cnf_password"
                        placeholder="Confirm Password" required>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="terms">
                    <label for="terms">I have read and agreed to the Terms of Service and Privacy Policy</label>
                </div>
                <button type="submit" class="btn">Create Account</button>
                <p class="login-link">Already have an account? <a href="log">Log In</a></p>
            </form>
        </div>
    </div>
    <div class="container"></div>
    <script>
        // Hide flash messages after 5 seconds
        setTimeout(function() {
                var flashMessages = document.querySelector('.flash-messages');
                if (flashMessages) {
                    flashMessages.style.display = 'none';
                }
            }, 5000);
    
    </script>
</body>
</html>