<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div class="login-container text-center">
        <h3>Lights, Camera, Discover</h3>
        <pre> </pre>
        <h4>Login</h4>
        <form>
            <div class="input-group">
                <input type="email" class="form-control" placeholder="Email">
                <pre> </pre>
            </div>
            
            <div class="input-group">
                <input type="password" class="form-control" placeholder="Password">
                <pre> </pre>
            </div>
            <button type="submit" class="btn-login">Login</button>
        </form>
        <div class="sign-up">
            <pre> </pre>
            Don't have an account? <a href="#">Sign in</a>
        </div>
    </div>
</body>
</html>