<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='log.css') }}">
</head>
<body>

    
    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>

    <div class="login-container text-center">
        <h1>Lights, Camera, Discover</h1>
        <pre></pre>
        <h2>Login</h2>
        <form action="/log" method="POST">
            <div class="input-group">
                <input type="email" class="form-control" placeholder="Email" name="email" id="email">
                <pre> </pre>
            </div>
            
            <div class="input-group">
                <input type="password" class="form-control" placeholder="Password" name="password" id="password">
                <pre> </pre>
            </div>
            <button type="submit" class="btn-login">Login</button>
        </form>
        <div class="sign-up">
            <pre> </pre>
            Don't have an account? <a href="home">Sign in</a>
        </div>
    </div>
    <script>
        // Hide flash messages after 5 seconds
        setTimeout(function() {
                var flashMessages = document.querySelector('.flash-messages');
                if (flashMessages) {
                    flashMessages.style.display = 'none';
                }
            }, 5000);
    
    </script>
</body>
</html>